:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  background-color: rgb(250, 250, 250);
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root,
#__next {
  isolation: isolate;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

html {
  font-size: 62.5%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.container {
  min-height: 70vh;
  width: 100%;
  padding: 1.6rem;
}

.drawer-menu-container {
  display: flex;
}

input,
textarea {
  font-size: 1.4rem;
  border-radius: 0.4rem;
}


button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  gap: 0.8rem;
  font-size: 1.6rem;
  padding: 0.8rem 1.6rem;
  min-width: 100%;
  max-width: 20rem;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.error-message {
  font-size: 1.2rem;
  color: red;
}

@media screen and (min-width: 768px) {
  button {
    min-width: 0;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
}
